.venv
simulation_image
.DS_Store
test_code.py
space.py
main.synctex.gz
graduation_thesis.synctex.gz
pre_draft.synctex.gz
pre_draft 2.fdb_latexmk
main.pdf
Exposed_terminal_problem.drawio
Hidden_terminal_problem.drawio